body{
  background-color: lightgrey;
  font-size: 14px
}
h1{
  display: flex;
  align-items: center;
}
h1::after,h1::before{
  content:"";
  background: black;
  height: .1em;
  margin: .2em;
  flex:1 ;
}
.getPlayersForm{
  height: 200px;
  margin-left: auto;
  margin-top:20%;
  display: block;
}
.guesses{
  border-radius: 3px;
  border: 1px solid black;
  overflow-y:auto;
  height: 510px;
}
.player{
  border-radius: 3px;
  text-align: center;
  display: flex;
}
.player::before{
  content:"";
  height: 20px;
  width: 20px;
  margin: 3px;
  background-image: url('../images/user.svg');
}

#guess{
  width: 100%;
}
input:placeholder{
  text-align: center;
}
input:placeholder-shown{
  border: 2px solid red;
  color: green;
}
#localLeader th, tr, td{
  border: 1px solid black;
  font-size: 32px;
}
