
.getPlayersForm{
  height: auto;
  border: 1px solid black;
  border-radius: 3px;
}
.playerDisplay{
  border-radius: 3px;
  border: 1px solid black;
}
#canvas{
  height: 500px;
  width: 500px;
  border-radius: 3px;
  border: 1px solid black;
}
.guesses{
  border-radius: 3px;
  border: 1px solid black;
  height: 300px;
}
.player{
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
}
.drawing{
  background-color: orange;
}
